<div class="content">
    <form [formGroup]="form">
        <div class="controls">
            <div>
                <fieldset>
                    <legend>Decimal Places</legend>
                    <mat-checkbox formControlName="allowDecimals"
                                  (change)="resetCurrentValue()">Activate decimals</mat-checkbox>

                    <br><br>

                    <mat-form-field>
                        <mat-label>Decimal place</mat-label>
                        <mat-select formControlName="decimalPlaces"
                                    (valueChange)="onDecimalChange($event)">
                            <mat-option *ngFor="let itm of decimalPlaces"
                                        [value]="itm">{{itm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>

                <br><br>

                <fieldset>
                    <legend>Min and Max numeric values</legend>
                    <mat-form-field>
                        <mat-label>Minimum numeric value</mat-label>
                        <mat-select formControlName="minNumericValue"
                                    (valueChange)="resetCurrentValue()">
                            <mat-option *ngFor="let itm of minNumericValues"
                                        [value]="itm">{{itm}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Maximum numeric value</mat-label>
                        <mat-select formControlName="maxNumericValue"
                                    (valueChange)="resetCurrentValue()">
                            <mat-option *ngFor="let itm of maxNumericValues"
                                        [value]="itm">{{itm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>

                <br><br>

                <fieldset>
                    <legend>Negative value</legend>
                    <mat-checkbox formControlName="allowNegativeValue"
                                  (change)="resetCurrentValue()">Allow negative value</mat-checkbox>
                </fieldset>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Enter value</mat-label>
                    <input formControlName="tall"
                           matInput
                           numbersOnly
                           [allowDecimals]="getControlValue('allowDecimals')"
                           [allowSign]="getControlValue('allowNegativeValue')"
                           autocomplete="off"
                           [minValidator]="getControlValue('minNumericValue')"
                           [maxValidator]="getControlValue('maxNumericValue')"
                           [maxFractionalDigits]="getControlValue('decimalPlaces')">
                    <mat-error *ngIf="getErrorMessage('tall', 'required')">
                        The field is required
                    </mat-error>

                    <mat-error
                               *ngIf="getErrorMessage('tall', 'minValidator') || getErrorMessage('tall', 'maxValidator')">
                        Value must be between {{getControlValue('minNumericValue')}} and
                        {{getControlValue('maxNumericValue')}}
                    </mat-error>
                </mat-form-field>

                <br><br>

                <button type="submit"
                        mat-raised-button
                        color="primary">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>