/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
    max-width: 800px;
    margin: 5rem auto;

    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;

        mat-form-field {
            width: 100%;
        }
    }
}
